@model IEnumerable<ArticleListViewModel>;

@{
    ViewData["Title"] = Resources.Resource.News;
}

<div class="articles-container row justify-content-center w-100 gap-1">
    <div class="text-center">
        <h3>@Resources.Resource.News</h3>
    </div>
    @Html.Partial("_ArticleRow", ViewBag.Articles as IEnumerable<ArticleListViewModel>)
</div>

@section scripts{
    <script src="~/js/infiniteScroll.js"></script>
    <script type="text/javascript">
        var moreRowsUrl = "/Articles/index";
        $(window).scroll(scrollHandler);
    </script>
}