@model RegisterViewModel

@{
    ViewData["Title"] = Resources.Resource.Registration;
}

<div class="row w-100 justify-content-center">
    <div class="col-md-4 mt-5">
        <div class="text-center">
            <h3>@Resources.Resource.Registration</h3>
        </div>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input type="text" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="@Resources.Resource.SignIn" class="btn btn-primary w-100 mt-3" />
                </div>
                <div class="mt-2 text-center">
                    <a asp-action="Login" asp-controller="Account">@Resources.Resource.LogIn</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}